@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: #333;
}

.heading {
  font-size: 1.5rem;
  text-align: center;
}

.heading h1 {
  color: #fff;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid  #57068c; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color:  #57068c }
}

.video-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.video-container .video {
  height: 20.25rem;
  width: 36rem;
  margin: 1rem;
  overflow: hidden;
}

.video-container video{
  height: 100%;
  width: 100%;
  object-fit: cover;
  outline: none;
  border: none;
  cursor: pointer;
}

.video-container video:hover{
  transition: 0.2s linear;
  transform: scale(1.1);
}

.video-container video .active {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 80%;
  z-index: 1;
  box-shadow: 0 0 0 100vh rgba(0,0,0,.7);
}

.video-container video .active:hover {
  transition: none;
  transform: translate(-50%, -50%) scale(0.8);
}
