@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: #333;
}

.heading {
  text-align: center;
}

.heading h1 {
  padding: 10px;
  max-width: 80%;
  font-size: 2.5rem;
  color: #fff;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid  #57068c; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color:  #57068c }
}

.video-container {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.video-container .video {
  height: 20.25rem;
  width: 36rem;
  overflow: hidden;
}

.video-container video{
  height: 100%;
  width: 100%;
  object-fit: cover;
  outline: none;
  border: none;
  cursor: pointer;
}
/*
.video-container video:hover{
  transition: 0.2s linear;
}


.video-container video .active {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100%;
  min-width: 100%;
  z-index: 1000;
  box-shadow: 0 0 0 100vh rgba(0,0,0,.7);
}
*/
.video-box {
  position: relative;
  margin: 1rem;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.video-overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.video-overlay:hover {
  opacity: 1;
}

.video-overlay:hover > * {
  transform: translateY(0)
}

.video-title {
  font-size: 1.8rem;
  font-weight: bold;
}

.container .popup-video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0,0,0,.7);
  height: 100%;
  width: 100%;
  display: none;
}

.container .popup-video video{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 750px;
  object-fit: cover;
}

.container .popup-video span {
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 50px;
  color: white;
  font-weight: bolder;
  z-index: 100;
  cursor: pointer;
}


.next {
  position: absolute;
  right: 10px;
  top: 750px;
  width:100px;
  height:30px;
  display: hidden;
}

.next:before {
  content: "";
  background: white;
  width:15px;
  clip-path: polygon(0 10px,calc(100% - 15px) 10px,calc(100% - 15px) 0,100% 50%,calc(100% - 15px) 100%,calc(100% - 15px) calc(100% - 10px),0 calc(100% - 10px));
  animation: next 1s infinite linear;
}
@keyframes next {
  90%,100%{flex-grow: 1}
}

/*.video-container video .active:hover {
  transition: none;
  transform: translate(-50%, -50%) scale(2);
}*/
